# SPDX-License-Identifier: GPL-2.0

menu "FCCMP benchmark comparison"

config FCCMP_ARRAY
	bool

config FCCMP_IOCTL
	tristate "Character device for comparing ioctls with fastcalls"
	default y
	select FCCMP_ARRAY
	help
	  Creates a device /dev/fccmp which accepts ioctl system calls.
	  These ioctl calls are used as a comparison when benchmarking the
	  fastcall mechanism.

config FCCMP_SYSCALL
	bool "New system calls as a comparison to the fastcall mechanism"
	default y
	depends on X86_64
	select FCCMP_ARRAY

config FCCMP_NT
	bool "Function for copying a char sequence with a non-temporal hint"
	default y
	depends on FCCMP_ARRAY && X86_64
	help
	  This relies on AVX2 and is only available for x86_64.

config FCCMP_VDSO
	bool "Provide vDSO functions as a comparison to the fastcall mechanism"
	default y
	depends on X86

config FCCMP_EVENT
	tristate "eventfd-like interface based on mwait"
	default y
	depends on X86_64
	help
	  Creates the device /dev/fccmp-event. Upon opening, this device holds
	  an internal counter and exposes an eventfd-like interface. However,
	  the waiting is realized via mwait instead of wait queues. This device
	  driver is used as a comparison to the fastcall-based realization.

endmenu
