# SPDX-License-Identifier: GPL-2.0

# This config entry allows to build this driver
# into the kernel image or as a module.
# Of course, it depends on fastcall.
config FASTCALL_TEMPLATE
	tristate "Template for fastcall-based drivers"
	depends on FASTCALL
	default n
	help
	  To learn more about this template, read the
	  drivers/fastcall-template/Readme.md .
