# SPDX-License-Identifier: GPL-2.0
config FASTCALL_EXAMPLES
	tristate "Driver with example fastcalls"
	depends on FASTCALL
	default y
	help
	  Enable the fastcall-examples driver, which adds some example fastcalls
	  for testing and benchmarking the fastcall mechanism.
	  TODO: describe device added and supported drivers
